PORT=5000

# PostgreSQL Database Connection URL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/medcare_db?schema=public"

JWT_SECRET="medcare_super_secret_jwt_key_2026"
GEMINI_API_KEY=""
